/*https://coolors.co/dcdcdd-8b2635-0353a4-0c1713-090c08-001021*/
/* CSS HEX */
/*--gainsboro: #dcdcddff;*/
/*--antique-ruby: #8b2635ff;*/
/*--usafa-blue: #0353a4ff;*/
/*--dark-jungle-green: #0c1713ff;*/
/*--rich-black-fogra-39: #090c08ff;*/
/*--rich-black-fogra-29: #001021ff;*/

html {
  background: #8b2635ff;
}

header {

  text-align: center;
  border: 300;
  padding: 100;
  margin: 20px;
}
main {
  border:50px;
}

.menubar {
  padding:25px;
}

.btn {
    text-decoration: none;
    padding: 20px;
    border-radius: 4px;
    background-color: #0353a4ff;
    color: #dcdcddff;
    margin: 10px;
}

img {
    width: 300px;
    border-radius: 8px;
}

section {
  text-align: center;
}

.title {
  padding: 30px;
}